* , ::after , ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter:brightness(0.8) contrast(1.2) saturate(0.2);
    transition: transform 0.4s ease, filter 0.4s ease;
}

.container{
    position: relative;
}

.overlay{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.485);
}

.title{
    letter-spacing: 8px;
}
.shadow2{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    font-family: "Bebas Neue";
    font-weight: 900;
    font-size: clamp(40px, 8vw, 200px);
    color: rgba(192, 191, 191, 0.489);
}
.shadow1{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    font-family: "Bebas Neue";
    font-weight: 900;
    font-size: clamp(40px, 8vw, 200px);
    color: rgba(192, 191, 191, 0.489);
}  

h1{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Bebas Neue";
    font-weight: 900;
    font-size: clamp(40px, 8vw, 200px);
    color: rgba(255, 255, 255, 0.897);
    transition: 0.4s ease,
    color 0.5s ease;
}

.title:hover h1 {
    transform: translate(-50%, -50%) scale(1.1);
}


.title:hover .shadow1,
.title:hover .shadow2{
    transform: translate(-50%, -50%) scale(1.1);
}

.shadow1,
.shadow2{
    transition: transform 0.4s ease;
}

.title:hover ~ img{
    transform: scale(1.02);
    filter: saturate(1) contrast(1.2) brightness(0.7);
}
.title:hover h1{
    color: red;
}

@media (max-width: 768px){

    h1,.shadow1,.shadow2{
        letter-spacing: 5px;
    }

    h1,
    .shadow1,
    .shadow2{
        font-size: 60px;
    }

}
